{% extends 'base.html.twig' %}

{% block title %}Альбомы мероприятий{% endblock %}

{% block h1 %} Альбомы мероприятий {% endblock %}

{% block body %}

            <section class="content__gallery gallery">
                <div class="gallery__items">
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                    <div class="gallery__item">
                        <div class="gallary_item--img">
                            <img src="img/1756087339_0_13_3071_1740_1920x0_80_0_0_6bbd7a9c74b4c48be2d1fb512a81a369.jpg" alt="">
                        </div>
                        <div class="gallery__item--text">
                            <p>Дата провдения: 1999г.</p>
                        </div>
                    </div>
                </div>
{% endblock %}