*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}

.wrapper{
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.header{
    grid-area: header;
    background: linear-gradient(90deg, #113060, #fff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding: 1rem 0;
}

.header__logo{
    align-self: center;
    margin-left: 5em;
}

.header__menu{
    background-color: #fff;
    min-height: 40%;
    display: grid;
    grid-template: 1fr / 1fr;
    align-self: center;
}

.header__list{
    display: flex;
}

.header__list li{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    min-width: 100px;
    position: relative;
    justify-content: center;
}

.header__list li:last-child{
    margin-right: 5rem;
}

.header__link{
    color: #113060;
    padding: 10px;
}


.main{
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1100px) 1fr;
    padding-bottom: 100px;
}

.content{
    grid-column: 2 / 3;
}

.content__title{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.gallery__items, .album__items{
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, 250px);
}

.gallery__items li{
    border: 5px solid transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25)
}

.gallery__items li:hover{
    border-color:#dcc865;
}

.sort__search{
    text-align: center;
    padding-bottom: 15px;
}

.sort__search button{
    background-color: #fff;
    margin-right: 15px;
    border: 1px solid #666;
    padding: 5px 10px;
    transition: 0.5s;
    color: #113060;
}

.sort__search button:hover{
    background-color: #dcc865;
    border-color: #dcc865;
}

.search{
    display: inline-block;
    border: 1px solid #666;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.search:focus{
    border: 1px solid #dcc865;
    box-shadow: 0px 0px 20px -1px #dcc865;
}

.gallery__items p{
    color: #113060;
    padding: 0 5px;
}

.name__album{
    margin-bottom: 10px;
    line-height: 1.5;
}

.gallary_item--img, .album__item{
    position: relative;
    padding-bottom: 90%;
}

.gallary_item--img{
    margin-bottom: 20px;
}

.gallary_item--img img, .album__item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    grid-column: 2 / 3;
}

.footer_{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #113060;
    padding-top: 20px;
    min-height: 150px;
    border-top: 10px solid #dcc865;
}

.footer__link{
    font-size: 15px;
    color: #fff;
}

.footer__link:hover{
    font-weight: bold;
}

.footer__share, .footer__links li{
    margin: 10px;
}

.footer__share p{
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}